.icon .face-img{
    /* height: 200px; */
    width: 350px;
    /* padding-top: 20px;
    padding-bottom: 20px;*/
    padding-left: 0px;
     
}
.face-heading h1{
    /* padding-left: 30px; */
    font-weight: 400;
    font-size: 2rem;
    /* padding-right: 40px; */
    padding: 0px 35px 0px 23px;
}
.above{
    /* background-color: #f7f4ed; */
    background-color: #e1e7ed;
}
main{
    height: 130vh;
}
.main{
    display: flex;
    padding: 170px 0px;
}
.left{
    width: 60%;
    padding-top: 50px;
}
.right{
    width: 40%;
}
.right .page{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 35px 0px rgb(0 0 0 / 13%);
    /* font-size: 1.3rem; */
}
.page a{
    text-decoration: none;
}
.email , .pass{
    padding: 10px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #d9d7d7;
    margin: 5px 0px;
    width: 100%;
    font-size: 1rem;
}
input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
}
.email:visited{
border:1px solid blue;
}
.page .log{
    border: none;
    width: 100%;
    text-align: center;
    padding: 10px ;
    color: white;
    background-color: #2467ed;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 10px 0px;
    text-decoration: none !important;
}
.forgot{
    width: auto;
    /* text-align: center; */
    /* padding: 10px; */
    margin: 10px;
    cursor: pointer;
}
.forgot:hover{
    color: blue;
    cursor: pointer;
    text-decoration: underline !important;
}
hr{
    height: 0.2px;
}
.create{
    padding: 10px;
    color: #fff;
    background-color: #2fba33;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    margin: 14px 90px;
    
    /* width: 50%; */
}
.bot{
    display: flex;
    /* text-align: center; */
    padding: 20px;
    margin: 5px auto;
    justify-content: center;
}
.end-link{
    color: #000;
    font-weight: 500;
    padding-right: 5px;
}
.rol{
    display: flex;
    margin: 20px 0px 0px 0px;
    width: 60%;
    text-align: left;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: -30px;
}
.rol li{
    list-style: none;
    color: #999;
    font-size: 13px;
}
.rol a{
    color: #999;
}
.rol li .bat{
    color: #666 !important;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    border: 0.2px solid gray;
    /* padding-top: -5px; */
    padding: 0px 10px 0px ;
    font-size: 20px;
    border-radius: 2px;
    
}
.mmm{
    height: 0.2px;
    margin: 0px;
}
.part a{
    color: #999;
}
.part{
    width: 100%;
    display: flex;
    margin-bottom: 50;
    flex-wrap: wrap;
    margin-left: -40px;
}
.part li{
    margin: 0px;
    list-style: none;
    padding: 0 10px;
    font-size: 14px;
    color: #999;
}
.new{
    width: 100%;
    margin-top: 5px;
}
.path{
    margin: 30px 0px;
}
.path p{
    font-size: 14px;
    color: #999;
}