<div class="above"> 
  <main class="bow container">
    <div class="main row">
    <div class="left col-md-7 col-sm-12">
      <div class="icon">
        <img class="face-img" src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg">
      </div>
      <div class="face-heading">
        <h1>Facebook helps you connect and share with the people in your life.</h1>
      </div>
    </div>
    <div class="right col-md-5 col-sm-12">
      <div class="page">
        <input class="email" type="email" placeholder="Email address or phone number">
        <input class="pass" type="password" placeholder="Password">
        <a class="log" href="">Log in</a>
        <a class="forgot">Forgotten password?</a>
        <hr>
        <a class="create" href="">Create New Account</a>
      </div>
      <div class="bot">
        <a class="end-link" >Create a Page</a>
        <p>for a celebrity, band or business.</p>
      </div>
    </div>
  </div>
  </main>
</div>
<footer>
  <div class="links container">
    <ul class="rol">
      <li>English (UK)</li>
      <li><a  href="#">தமிழ்</a></li>
      <li><a  href="#">తెలుగు</a></li>
      <li><a  href="#">ಕನ್ನಡ</a></li>
      <li><a  href="#">اردو</a></li>
      <li><a  href="#">हिन्दी</a></li>
      <li><a  href="#">മലയാളം</a></li>
      <li><a  href="#">සිංහල</a></li>
      <li><a  href="#">ਪੰਜਾਬੀ</a></li>
      <li><a  href="#">বাংলা</a></li>
      <li><a  href="#">ગુજરાતી</a></li>
      <li><a class="bat" role="button" href="#"><strong>+</strong></a></li>
    </ul>
    <hr class="mmm">
  </div>
  <div class="new container">
    <ul class="part">
      <li><a href="#">Sign Up</a></li>
      <li><a href="#">Log In</a></li>
      <li><a href="#">Messenger</a></li>
      <li><a href="#">Facebook Lite</a></li>
      <li><a href="#">Watch</a></li>
      <li><a href="#">Places</a></li>
      <li><a href="#">Games</a></li>
      <li><a href="#">Marketplace</a></li>
      <li><a href="#">Facebook Pay</a></li>
      <li><a href="#">Jobs</a></li>
      <li><a href="#">Oculus</a></li>
      <li><a href="#">Portal</a></li>
      <li><a href="#">Instagram</a></li>
      <li><a href="#">Local</a></li>
      <li><a href="#">Fundraisers</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Voting Information Centre</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Create ad</a></li>
      <li><a href="#">Create Page</a></li>
      <li><a href="#">Developers</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Cookies</a></li>
      <li><a href="#">AdChoices</a></li>
      <li><a href="#">Terms</a></li>
      <li><a href="#">Help</a></li>
    </ul>
    <div class="path">
      <p>Facebook © 2021</p>
    </div>
  </div>
  
</footer>
